In [6]:
from zeng import *
import pandas as pd
import jinja2
import time
import os

In [19]:

# Directory to save files
output_directory = '/home/nvme/Opt/5_Bence/xml/zeng_onebyone/zeng_Bec1_only'
# Create the directory if it does not exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Variables and bounds from file file
df = pd.read_excel('../../reactionsICs_w_species.xlsx', header=None,
                   sheet_name='ics', usecols="A:B")
bounds = generateBounds(df)
species = getSpecies('../../refs.csv')

# data files
data = pd.read_csv('./1dataMin/zeng2012_48h_data_corrected.csv')

In [20]:
data

,time,AUT,AUTstd,caspasea,caspaseastd,Baxa,Baxastd,BEC1,BEC1std
0,0,0.200000,0.217747,0.123140,0.030579,0.104400,0.051939,0.265482,0.059391
1,360,0.423891,0.194881,0.321901,0.077273,0.127600,0.051939,0.691878,0.078680
2,720,0.637201,0.227986,0.403719,0.041736,0.207756,0.103878,0.925381,0.111168
3,1080,1.136177,0.239590,0.426033,0.049174,1.149584,0.678670,1.150254,0.144670
4,1440,0.373720,0.280887,0.773967,0.041736,2.728532,1.398892,0.732487,0.221827
5,2880,0.132082,0.106826,1.023554,0.063223,27.645429,4.459834,0.431472,0.236548

In [21]:
string_to_match = "BEC1"
mtor_df = data.loc[:, data.columns.str.contains(string_to_match) | (data.columns == data.columns[0])]
mtor_df

   time      BEC1   BEC1std
0     0  0.265482  0.059391
1   360  0.691878  0.078680
2   720  0.925381  0.111168
3  1080  1.150254  0.144670
4  1440  0.732487  0.221827
5  2880  0.431472  0.236548

In [22]:
treatement = 'nS'
start = time.time()
for i in range(1, 10001):
    file_index = i
    generate_file(file_index, output_directory, species, bounds,mtor_df)
print("job finished in:", time.time()-start)

job finished in: 24.373579740524292