In [10]:
from atp_std import *
import pandas as pd
import jinja2
import time
import os
import numpy as np

In [11]:
def makeDir(path):
    if not os.path.exists(path):
        os.makedirs(path)

In [12]:

# Variables and bounds from file file
df = pd.read_excel('../../reactionsICs_w_species.xlsx', header=None,
                   sheet_name='ics', usecols="A:B")
bounds = generateBounds(df)
species = getSpecies('../../atp.csv')
# data files
# data = pd.read_csv('./1dataMin/delle2014_dataArt.csv')

In [13]:
red_bounds = dict()
for k,v in bounds.items():
    if k in species:
        red_bounds[k]=v

In [14]:
red_bounds['Insulin']=[1.0e-04,1.0e-06]
red_bounds['ATP']=[3.0e-06,3.0e-06]
red_bounds

{'AMPK': [1.25e-10, 3.75e-10],
 'AKT': [5e-11, 1.5e-10],
 'TSC': [2.5e-10, 7.5e-10],
 'RHEB': [1.5e-10, 4.5e-10],
 'mTOR': [1.25e-10, 3.75e-10],
 'PI3K': [4e-11, 2e-10],
 'Insulin': [0.0001, 1e-06],
 'ATP': [3e-06, 3e-06]}

In [15]:
data = pd.read_csv('./1dataMin/glucose_depletion.csv')
data

   time     ATP  ATPstd
0     0  1.0000  0.1315
1   720  0.7638  0.2063
2  1440  0.2735  0.1315
3  2160  0.1764  0.0777
4  2880  0.0897  0.0987
5  3600  0.0747  0.0777

In [16]:
species

array(['AMPK', 'nS', 'AMPKa', 'mTORa', 'mTOR', 'TSC', 'TSCa', 'RHEBa',
       'RHEB', 'PI3Ka', 'PI3K', 'AKT', 'AKTa', 'ATP', 'REF', 'Insulin'],
      dtype='<U7')

In [17]:
output_directory = '/home/nvme/Opt/5_Bence/xml/atp_std'
makeDir(output_directory)
start = time.time()
for i in range(1, 10001):
    file_index = i
    generate_file(file_index, output_directory, species, red_bounds, data)

print("job finished in:", time.time()-start)

job finished in: 20.759085416793823