In [1]:
from holczer2015 import *
import pandas as pd
import jinja2
import time
import os

In [17]:

# Directory to save files
output_directory = '/home/nvme/Opt/5_Bence/xml/holczer_onebyone/holczer_aut_only'
# Create the directory if it does not exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Variables and bounds from file file
df = pd.read_excel('../../reactionsICs_w_species.xlsx', header=None,
                   sheet_name='ics', usecols="A:B")
bounds = generateBounds(df)
species = getSpecies('../../refs.csv')

# data files
data = pd.read_csv('./1dataMin/holczer2019_rap.csv')

In [10]:
data

,time,mTORa,mTORastd,ULKa,ULKastd,AMPKa,AMPKastd,AUT,AUTstd
0,0.0,1.000000,0.062564,1.000000,0.047309,1.000000,0.005946,1.000000,0.053182
1,30.0,0.328825,0.036578,1.215959,0.030089,5.874494,0.007941,0.840273,0.039321
2,60.0,0.245584,0.013486,1.091621,0.030927,12.006090,0.011789,0.529403,0.005570
3,90.0,0.406146,0.084155,1.719812,0.044831,9.293455,0.003992,0.410155,0.005966
4,120.0,0.452013,0.065227,1.427953,0.061047,6.352155,0.005922,0.676163,0.009513
5,150.0,0.511601,0.012471,0.906771,0.043057,6.358520,0.013293,0.740537,0.060339
6,180.0,0.199497,0.049804,1.137744,0.020288,9.346885,0.017812,0.720402,0.034561
7,210.0,0.163379,0.118396,1.414371,0.030434,9.580700,0.060733,0.857786,0.032834
8,240.0,0.116532,0.046441,1.546672,0.037397,11.718871,0.050489,0.879782,0.034053
9,270.0,0.145393,0.108651,1.680092,0.103195,4.616744,0.009345,0.619163,0.001435
10,300.0,0.180640,0.056631,1.504956,0.061981,3.711634,0.014939,0.347901,0.007748

In [18]:
string_to_match = "AUT"
mtor_df = data.loc[:, data.columns.str.contains(string_to_match) | (data.columns == data.columns[0])]
mtor_df

     time       AUT    AUTstd
0     0.0  1.000000  0.053182
1    30.0  0.840273  0.039321
2    60.0  0.529403  0.005570
3    90.0  0.410155  0.005966
4   120.0  0.676163  0.009513
5   150.0  0.740537  0.060339
6   180.0  0.720402  0.034561
7   210.0  0.857786  0.032834
8   240.0  0.879782  0.034053
9   270.0  0.619163  0.001435
10  300.0  0.347901  0.007748

In [19]:
treatement = 'RAP'
start = time.time()
for i in range(1, 10001):
    file_index = i
    generate_file(file_index, output_directory, species, bounds,mtor_df)
print("job finished in:", time.time()-start)

job finished in: 25.56236982345581